.breedSelector {
  border-bottom: 2px solid #ccc;
  font: 21px Arial;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.form {
  position: relative;
}

.label {
  color: #999;
  margin-right: 20px;
}

.select {
  border: 2px solid #ccc;
  font-size: 21px;
  width: 200px;
}

.isError {
  background-color: #ccc;
}
