body {
  font-size: 1.3rem;
}

.CatApp {
  background-color: #eee;
  border: 2px solid #ccc;
  margin: 50px;
  max-width: 500px;
}

.BreedSelector {
  border-bottom: 2px solid #ccc;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.BreedSelector form {
  position: relative;
}

.BreedSelector form label {
  color: #999;
  margin-right: 20px;
}

.BreedSelector .selectContainer {
  position: relative;
}

.BreedSelector form select {
  border: 2px solid #ccc;
  font-size: 1.2rem;
  width: 200px;
}

.BreedSelector form select.isError {
  background-color: #999;
}

.BreedSelector form .selectSpinner {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 7px;
  right: -24px;
}

.CatImage {
  height: 360px;
}

.CatImage .image {
  background-size: cover;
  height: 300px;
}

.CatImage .image.nextLoading {
  opacity: 0.5;
}

.CatImage .message {
  background-color: #999;
  color: white;
  height: 300px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CatControls {
  border-top: 1px solid #ccc;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CatControls button {
  border: 2px solid #ccc;
  background-color: #fff;
  color: #999;
  font-size: 1.5rem;
  margin: 0 10px;
  padding: 4px 8px;
  position: relative;
}

.CatControls button:active {
  background-color: #aaa;
  color: #fff;
  top: 2px;
  left: 2px;
}

.CatControls button:disabled {
  opacity: 0.3;
}
